#contactUs {
    padding: 100px 0;

    h2,
    h5 {
        text-align: center;
    }

    .box {
        padding: 70px;
        background: #fff;
        
        .title:nth-child(1) {
            margin-top: 2rem;
        }
        .title {
            font-family: $displayFont;
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        span {
            color: $paragraphColor;
        }

        h6 {
            font-size: .9rem;
            font-weight: 600;
            color: $black;
            line-height: 1.7rem;
        }
        
        p {
            font-weight: 400;
            margin-bottom: 20px;

            strong {
                color: $black;
                text-transform: capitalize;
                font-weight: 600;
            }

            a {
                color: $paragraphColor;
                text-decoration: none;
                font-weight: 600;

                &:hover {
                    color: $red;
                }
            }
        }
    }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    #contactUs {
        h2 {
            font-size: 1.7rem;
        }

        .box {
            .title {
                font-size: 1.5rem;
            }
        }
    }

  }
  
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}