body {
    color: $black;
}

h2 {
    font-family: $displayFont;
    font-size: 3rem;
    margin: .5rem 0 3rem;
    text-transform: capitalize;
    color: $black;
}

h5 {
    color: $titleColor;
    font-size: .7rem;
    // margin: 0 0 1rem;
    margin: 0.5rem 0 1rem;
    text-transform: uppercase;
    letter-spacing: 7px;
}

p {
    font-size: .8rem;
    color: $paragraphColor;
    line-height: 2;
    margin: 1rem 0 2rem;
    font-weight: 300;
}

a {

    transition: all .2s ease-in-out;
    &:hover {
        color: $red;
    }
}

strong {
    font-weight: 600;
}

.textureBG {
    background: #fafafa;
    background-position: center;
    background-repeat: repeat;
}