header {
    position: absolute;
    width: 100%;
    color: #fff;
    padding: 20px;
    z-index: 20;

    .logo {
        display: inline-block;
    }
    
    nav {
        display: inline-block;
        float: right;
        text-align: right;

        a {
            color: #fff;
            text-decoration: none;
            padding: 0 10px;
        }
    }
}