#orderModal {
  padding: 0;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  // padding: 200px;
  height: 800px;
  width: 800px;
  background-color: white;
  border: 1px solid #333;
  z-index: 9999;

  .title {
    font-size: 2rem;
    text-align: center;
  }
  .fas {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5rem;
    cursor: pointer;
  }
}