#Reviews {
    padding: 100px 0;
    position: relative;

    .side-img {
        position: relative;
        text-align: left;

        img {
            width: 100%;
            max-width: 600px;
        }
    }

    .col-md-4 {
        text-align: right;
    }

    .title {
        margin: 0 0 25px 0;
        font-weight: 700;
        letter-spacing: 10px;
    }

    h4 {
        font-weight: 600;
        font-size: .9rem;
        margin-bottom: 2rem;
    }

    .author {
        margin-bottom: 75px;
        color: $paragraphColor;
        font-size: .89rem;
        font-weight: 300;
        text-transform: capitalize;

        strong {
            font-weight: 700;
            color: $black;
        }
    }

    .arrows {
        position: absolute;
        top: 550px;
        right: 15px;

        .faArrowLeft, 
        .faArrowRight {
            font-size: 3rem;
            padding: 6px;
            margin: 100px;
            color: $paragraphColor;
            cursor: pointer;
        }
        .faArrowLeft.ready, 
        .faArrowRight.ready {
            color: $black;
        }
    }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    #Reviews {

        .col-md-4 {
            text-align: center;
        }

        .title {
            margin-top: 25px;
        }

        h2 {
            font-size: 1.5rem;
        }

        .arrows {
            position: absolute;
            top: 825px;
            right: 50px;
            
            .faArrowLeft, 
            .faArrowRight {
                font-size: 3rem;
                padding: 6px;
                margin: 50px;
                color: $paragraphColor;
                cursor: pointer;
            }
        }
    }
  }
  
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}